body{
	background-color: #e6ccb3;
}

p {
    font: 15px arial, sans-serif;
}

li {
    font: 15px arial, sans-serif;
}

h4 {
    color: #ff9999;
}

div {
	border-radius: 10px;
}

img {
    display: block;
    margin: auto;
    border-radius: 10px
}

#email{
	position: relative;
	height: 50px;
	background-color: #ffffff;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: black;
}

#email p {
	position: relative;
	padding-top: 15px;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}


li {
	list-style-type: square;
}


.right {
	position: relative;
	margin-top: 15px;
    margin-right:100px;   
	margin-left: 100px;
	height: 450px;
	background-color: #ffffff; 
	margin-bottom: 15px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #ffffff;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: black;
}

#footer p {
	position: relative;
	padding-top: 15px;
}